
.contact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../assets/bar.jpeg);
    background-size: cover;
    background-position: center;
}

.contact-text h1 {
    font-size: 7rem;
    font-weight: 700;
    color: white;
    margin: 10px 0 20px;
    line-height: 1;
    
}
.contact-text p {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin: 10px 0 20px;
    line-height: 1;
    
}

@media (max-width:768px){
    .contact{
        height: 70vh;
    }
    .contact-text h1{
        font-size: 5.6rem;
    }
}

@media (max-width:480px){
    .contact{
        height: 63vh;
    }
    .contact-text h1{
        font-size: 4.8rem;
    }
}

