
.hero{
    background: url(../assets/lonuge.jpg) no-repeat;
}

.course1,.course2,.course3 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(../assets/course1.jpeg);
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
}
.course2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(../assets/course2.jpeg);
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
}

.course3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(../assets/course3.jpeg);
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
}


.course-content h2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--bg-color);
    margin-bottom: 15px;
}

.course-content p {
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--bg-color);
    margin-bottom: 35px;
}

.course-btn {
    display: inline-block;
    padding: 11px 40px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--bg-color);
    color: var(--text-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .6s ease;
}

.course-btn:hover {
    cursor: pointer;
    background: var(--main-color);
    color: var(--bg-color);
    scale:1.2;
    transition: 1s;
    
}

@media only screen and (max-width:768px){
    .hero{
        height: 70vh;
    }
    .hero-text h1{
        font-size: 5.6rem;
    }
    .course1,.course2,.course3{
        height: 70vh;
    }
}

@media only screen and (max-width:480px){
    .hero{
        height: 63vh;
    }
    .hero-text h1{
        font-size: 4.8rem;
    }
    .course1,.course2,.course3{
        height: 63vh;
    }
    .course-content h2{
        font-size: 4.5rem;
    }
}

@media only screen and (max-width:320px){
    .hero{
        height: 57vh;
    }
    .hero-text h1{
        font-size: 2.8rem;
        margin:-140px 0 20px;
    }
    .center-text h6 {
        font-size: 2.3rem;
    }
    .course1,.course2,.course3{
        height: 57vh;
    }
    .course-content h2{
        font-size: 2.8rem;
    }
    .cta{
        height: 47vh;
    }
    .cta-content h2{
        font-size: 2rem;
    }
    .cta-btn{
        padding: 8px 20px;
        font-size: 1rem;
    }
}