@import './colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px); /* เปลี่ยนค่าที่นี่เพื่อปรับความเบลอ */
    z-index: -1;
}  

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--bg-color);
    background-color: rgba(14, 13, 13, 0.8);
}

.signup-container {
    background-color: rgba(78, 198, 60, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--font_gay-color);
}

.form-group input {
    width: 95%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
}


.password-info {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: var(--font_gay-color);
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--text-color);
    border: none;
    border-radius: 5px;
    color: var(--bg-color);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.signup-container .links {
    margin-top: 10px;
    text-align: center;
}

.signup-container .links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 5rem;
}

.container-btn {
    position: absolute;
    left: 0;
    top: 30px;
}

.container-btn a {
    color: var(--bg-color);
    font-size: 1.5rem;
    font-family: "Jost", sans-serif;
    margin: 30px;
}

.container-btn a:hover {
    color: gray;
}