
<%- include('./../components/head') %>
<link rel="stylesheet" href="css/course.css">
<body>
    <!-- header -->
    <%- include('./../components/navbar') %>
    
    <!-- hero -->
    <section class="hero2">
    
        <div class="hero-container">
           <div class="hero-text">
            <h1>COURSE</h1>
           </div>
            
        </div>

    </section>

    <!-- block -->
     <section class="block">
        <div class="block-menu">
            <p>$ 320++ | WINE PAIRING $ 410++</p>
            <h2>Aurum</h2>
            <p>homemade ricotta curry | coconut gorgonzola | chicken liver pate | mango | blood orange fish crumble</p>
            <h2>SUMMER BREAK</h2>
            <p>scallop | spicy pink guava | caviar | seabite | basil flower</p>

            <p>THB 440++ | WINE PAIRING THB 410++</p>
            <h2>AMUSE-BOUCHE</h2>
            <p>homemade ricotta curry | coconut gorgonzola | chicken liver pate | mango | blood orange fish crumble</p>
            <h2>SUMMER BREAK</h2>
            <p>scallop | spicy pink guava | caviar | seabite | basil flower</p>
            <p>THB 3,200++ | WINE PAIRING THB 1,900++</p>
            <h2>AMUSE-BOUCHE</h2>
            <p>homemade ricotta curry | coconut gorgonzola | chicken liver pate | mango | blood orange fish crumble</p>
            <h2>SUMMER BREAK</h2>
            <p>scallop | spicy pink guava | caviar | seabite | basil flower</p>
            
            
        </div>
     </section>

    <!-- cta -->
    <section class="cta">
        <div class="cta-content">
            <h2>Welcome to our services</h2>
            <p>when you come here,you got everthing.</p>
            <a href="/order" class="cta-btn">BOOK NOW</a>
        </div>
    </section>

    <%- include('./../components/footer') %>

</body>

</html>
