<%- include('./../components/head') %>
<link rel="stylesheet" href="css/checkout.css">

<body>
    
    <div class="wrapper">
        <h1>BOOKING NOW</h1>
        <form action="/" method="post">

            <%- include('./../components/form_field') %>

        </form>
    </div>

</body>
</html>