<%- include('./../components/head') %>
<link rel="stylesheet" href="css/chef.css">
<body>
    <!-- header -->
    <%- include('./../components/navbar') %>
    
    
    <!-- chef -->
    <section class="chef">
    
        <div class="chef-container">
           <div class="chef-text">
            <h1>Chef Teptud</h1>
            <p>Vision Forward for special cuisine </p>
           </div>
            
        </div>

    </section>

    <section class="chef-about">
        <p>Mr. Teptud is a renowned head chef known for his innovative approach to cooking and his commitment to sustainability. Born in a small village, he developed a passion for fresh, local ingredients from a young age, learning the basics of cooking from his grandmother. After initially pursuing a career in engineering, he realized his true calling was in the kitchen and decided to study culinary arts. He trained in top kitchens around the world, learning diverse techniques and honing his craft. Upon returning to his home country, Teptud became the head chef at a prestigious restaurant, where his creative dishes quickly gained acclaim. His cooking philosophy focuses on blending tradition with modernity, always emphasizing quality ingredients and sustainable practices. Under his leadership, the restaurant has flourished, earning several awards and a dedicated following. Teptud is also a mentor to young chefs, encouraging them to push the boundaries of culinary creativity. Despite his success, he remains humble and dedicated to his craft, constantly seeking new ways to innovate and delight diners. His journey is a testament to passion, creativity, and the power of following one’s true calling.</p>
    </section>



    <!-- cta -->
    <section class="cta">
        <div class="cta-content">
            <h2>Enjoy The Delicious Tatse</h2>
            <p>when you're got health,you got everthing.</p>
            <a href="/book" class="cta-btn">BOOK NOW</a>
        </div>
    </section>

    <!-- footer -->
    <%- include('./../components/footer') %>

</body>

</html>
