<%- include('./../components/head') %>
<link rel="stylesheet" href="css/contact-style.css">
<body>
    <!-- header -->
    <%- include('./../components/navbar') %>

    <!-- contact -->
    <section class="contact">
    
        <div class="contact-container">
           <div class="contact-text">
            <h1>Contact Us</h1>
            <p>Move Forward For Special Taste</p>
           </div>
           
        </div>

    </section>
    
    <!-- footer -->
    <%- include('./../components/footer') %>

</body>

</html>
