<%- include('./../components/head') %>
<link rel="stylesheet" href="css/order.css">
<body>
    <!-- header -->
    <%- include('./../components/navbar') %>
<!-- hero -->
<section class="hero">
    
    <div class="hero-container">
       <div class="hero-text">
        <h1>ORDER NOW</h1>
       </div>
        
    </div>

</section>

<!-- store -->
<section class="store">
    <div class="center-text">
        <h6>Let’s us serve you for tonight.</h6>   
    </div>
</section>


<!-- course -->
<section class="course1">
    <div class="course-content">
        <h2>Aurum $199</h2>
        <p>Enjoy a friendly 5 menu course.</p>
        <a href="/checkout" class="course-btn">ORDER NOW</a>
    </div>
</section>

<!-- course -->
<section class="course2">
    <div class="course-content">
        <h2>Smaragdus $299</h2>
        <p>Dinner night with 7 quality course.</p>
        <a href="/checkout" class="course-btn">ORDER NOW</a>
    </div>
</section>

<!-- course -->
<section class="course3">
    <div class="course-content">
        <h2>Iaspis $199</h2>
        <p>9 special course, we carefully craft for you.</p>
        <a href="/checkout" class="course-btn">ORDER NOW</a>
    </div>
</section>


<%- include('./../components/footer') %>
</body>

</html>