<!-- footer -->
<section class="footer">
    <div class="footer-box">
        <a href="#" class="logo">
            <img src="/assets/logo.png" alt="">
        </a>

        <h5>We believe it has the power to do <br> amazing things.</h5>

        <div class="icons">
            <a href=""><i class="ri-facebook-fill"></i></a>
            <a href=""><i class="ri-instagram-fill"></i></a>
            <a href=""><i class="ri-twitter-fill"></i></a>
            <a href=""><i class="ri-youtube-fill"></i></a>
        </div>
    </div>


    <div class="footer-box">
        <h3>Contact</h3>
        <li><a href="">Work Time</a></li>
        <li><a href="">Monday - Friday</a></li>
        <li><a href="">11.00 - 00.00</a></li>
        <li><a href="">Address</a></li>
        <li><a href="">California, Los Santos ,jj street</a></li>
    </div>


    <div class="contract-info-map">
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.6595843812966!2d100.19393207515046!3d16.743828784037767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbe99c0e7b961%3A0xa63fc6eafd099302!2z4LiE4LiT4Liw4Lin4Li04Lio4Lin4LiB4Lij4Lij4Lih4Lio4Liy4Liq4LiV4Lij4LmMIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4meC5gOC4o-C4qOC4p-C4ow!5e0!3m2!1sth!2sth!4v1725025472677!5m2!1sth!2sth"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


    </div>

</section>

<div class="copyright">
    <p>&copy; All Copyright 2024 by Pondinho</p>
</div>

<a href="" class="scroll-btnnn"><i class="ri-arrow-drop-up-line"></i></a>

<!-- js -->
<script src="js/script.js"></script>